<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lob Letter Creator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
	    <div style="width: 30%; margin: 30px auto;">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Success!</h4>
              <p>You have successfully created a letter using Lob.com</p>
              <hr>
              <p class="mb-0">Download your PDF version of the letter below: </p>
              <a href="<%- letterUrl -%>" target="_blank"> Letter.pdf </a>
            </div>
            <a href="/"> Go Back </a>
        </div>
        
	</body>
</html>